*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  margin:0 auto; /* sets top and bottom margins to 0 and right and left margins to auto(equal) */
  background-color:rgb(254, 250, 246);
}
li:hover{
  background-color:white;
  color:rgb(67, 81, 120);
  border-radius:5px;
}
img{
  border-radius: 15px;
  border: 2px solid black;
}
img:hover{
	transition:0.5s;
	filter:saturate(1.5);
	border-color: white;
}
.container{
  display:flex;
}
.container *{
  flex:1;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.list{
  text-align:left;
  margin:10px;
}
a{
  text-decoration:none;
  color:white;
}
nav{
  box-shadow:2px 2px 2px gray;
  text-decoration:none;
  text-align:center;
}
nav a{
  background-color:rgb(30, 42, 94);
  padding:10px;
}

nav a:hover{
  background-color:rgb(35, 49, 116);
  box-shadow: 4px 4px 2px gray;
}

#white{
  color:white;
}

.text_scroll{
  width:auto;
  height: 150px;
  overflow:auto;
  padding:10px;
  font-size:20px;
}

#font{
	font-size:18px;
}

#home_banner{
  text-align:center;
  background-image: url(images/home/home_banner.jpg);
  background-size:cover;
  color:rgb(30, 42, 94);
  text-shadow: 2px 2px white;
  font-size: 14pt;
  box-shadow:2px 2px 2px gray;
  padding:200px;
  background-position:center;
}
#home_banner:hover{
  transition:0.25s;
  opacity:85%;
}
#pg1_banner{
  text-align:center;
  background-image: url(images/page1/pg1_banner.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  padding:200px;
  color:white;
  text-shadow:3px 3px gray;
  background-position:center;
}
#pg1_banner:hover{
  transition:0.25s;
  opacity:85%;
}

#pg2_banner{
  text-align:center;
  background-image: url(images/page2/holiday_banner.jpg);
  background-size:cover;
  padding:200px;
  color:white;
  text-shadow:2px 2px 2px black;
  background-position:center;
}

#pg2_banner:hover{
	transition:0.25s;
  opacity:85%;
}

#pg3_banner{
  text-align:center;
  background-image: url(images/page3/ta_banner.jpg);
  background-size:cover;
  padding:200px;
  color:white;
  text-shadow: 2px 2px 2px black;
  background-position:center;
}

#pg3_banner:hover{
	transition:0.25s;
  opacity:85%;
}
/*
#links{  
  flex-direction:column;
  max-width:100px;   /* Use max-width (instead of width) for flex item 
  background-color: rgb(30, 42, 94);
}
#links a{
  font-size:8pt;
  color:rgb(124, 147, 195);
  padding:5px 10px 5px 10px;  
  box-shadow:2px 2px 2px gray;
}
#links a:hover{
  background-color:rgb(200,200,200);
}
*/
.center{
  justify-content:center; 
  align-items:center;  
  text-align:center;
  margin:auto;
}

#footer{
  background-color:rgb(16, 44, 87);
  color:white;
  font-size:12pt;
}

#footer a{
  text-decoration:underline;
}

.border{
  border:1.75px solid rgb(152, 165, 199);
  margin:10px;
  padding:20px;
  background-color: rgb(129, 143, 180);
  border-radius:10px;
  color:white;
  box-shadow:5px 5px 5px gray;
}

#img{
  border-radius:10px;
  margin:10px;
  border:2px groove rgb(22, 92, 138);
  box-shadow: 4px 3px 2px gray;
  filter:grayscale(1);
}

#img:hover{
  transition:0.5s;
  box-shadow: 2px 3px 2px white;
  filter:none;
}

#hover{
	color:black; 
}

/* Page 3 */
div.gallery {
  margin: 30px;
  float:center;
  flex-wrap:wrap;
}

div.gallery img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  border:none;
}

div.gallery img:hover{
	transition:0.1s;
	border:1px solid black;
  opacity:95%;
}

div.desc {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  width: auto;
  height: 170px;
  margin:auto;
  overflow:auto;
  border-radius: 5px;
  color:white;
  background-color:rgb(74, 92, 139);
  font-size:20px;
}

div.desc:hover{
  transition:0.1s;
  background-color: rgb(96, 114, 157);
  border:1px solid black;
}